<link rel='stylesheet' href='../assets/css/main.css'/>

[<< back to main index](../README.md)

Lab 4.2 : Spark SQL : SQL
================================


### Overview
Using SQL statements with Spark SQL.   

### Depends On 
None

### Run time
20-30 mins

### STEP 1: Load Clickstream data

**==> Create a dataframe**

In [ ]:
clickstreamDF = spark.read.json("../data/click-stream/clickstream.json")

**==> Register dataframe as a table**

In [ ]:
clickstreamDF.createOrReplaceTempView("clickstream")

### STEP 2: Querying using SQL


**==> Select all logs**

In [ ]:
logs = spark.sql("select * from clickstream")
#'logs' is a dataframe
logs.show()

Output might be like

In [ ]:
+-------+-----------+----+-----------------+----+----------+-------------+------+
| action|   campaign|cost|           domain|  ip|   session|    timestamp|  user|
+-------+-----------+----+-----------------+----+----------+-------------+------+
|clicked|campaign_19| 118|      youtube.com|ip_4|session_36|1420070400000|user_9|
|blocked|campaign_12|   5|     facebook.com|ip_3|session_96|1420070400864|user_5|
|clicked| campaign_3|  54|sf.craigslist.org|ip_9|session_61|1420070401728|user_8|
...

**==> Find records with only clicks**

In [ ]:
# TODO: Find Records with only clicks

**==> Count records from each domain, sort the output by most to least**

In [ ]:
# TODO: Try this query here:


### STEP 3: Joining Datasets

**==> Load `domains` dataset and register it to table `domains`**

In [ ]:
domainsDF = spark.read.json("../data/click-stream/domain-info.json")
domainsDF.show()
domainsDF.createOrReplaceTempView("domains")

**==> Join `clickstreams` and `domains`**    
Hint : Join query syntax for joining two tables A, B
spark.sql("select A.*, B.* from A  join B  ON (A.x = B.y)")

In [ ]:
# TODO: Write sql query for joining clickstreams and domains
# spark.sql("SELECT ....")


**==> Count traffic per domain category (news, social ..etc)**    
Hint : query the joined datasets

In [ ]:
# TODO: Count traffic per domained category


### STEP 4: Explore UI
(Your DAG visualization may be slightly different from what we show here)

<img src="../assets/images/5.2c.png" style="border: 5px solid grey; max-width:100%;"/>

<img src="../assets/images/5.2d.png" style="border: 5px solid grey; max-width:100%;"/>

<img src="../assets/images/5.2e.png" style="border: 5px solid grey; max-width:100%;"/>